<!-- 
  @file foot.ejs
  @description Pie de página común utilizado en todas las vistas del sistema.
  Contiene las importaciones de scripts necesarios para el funcionamiento de Bootstrap, jQuery y DataTables.
  Asegura la correcta carga de funcionalidades interactivas, exportación de tablas y diseño responsive.
-->

<!-- Bootstrap JS desde node_modules -->
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- jQuery (necesario para DataTables) -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<!-- Librerías para exportar a PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<!-- DataTables con extensiones:
     - Buttons: Exportación (Excel, PDF, Print), Column visibility
     - ColReorder: Reordenamiento de columnas
     - FixedHeader: Encabezado fijo
     - RowGroup: Agrupación de filas
     - JSZip: Exportación a Excel
-->
<script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/b-print-3.1.2/cr-2.0.4/fh-4.0.1/rg-1.5.0/datatables.min.js"></script>

</body>
</html>
