<!-- La plantilla de la página de inicio -->
<%- include('../partials/head.ejs') %>

<%- include('../partials/homeNav.ejs') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <img
                src="../../public/media-998990_1920.jpg"
                class="img-fluid rounded-top rounded-bottom"
                alt="Proyectos"
            />
            
        </div>
    </div>
</div>
<div class ="container mt-5"></div>

<%- include('../partials/foot.ejs') %>